@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DevCon!</h1>
    <p>
        Total visits: @IndexModel.Tracker.TotalVisits
        <br/>
        Unique visits: @IndexModel.Tracker.UniqueVisits
        <br/>
        <br/>
    </p>
    <i>Note: this is counted per IP and the count resets after site inactivity.</>
</div>
