@page
@model DevCon2023.Pages.CoffeeModel
@{
}

<div class="text-center">
    <h2 class="display-4">Success!</h2>
    We're shipping it right to your address (@Model.HttpContext.Connection.LocalIpAddress).
</div>
