<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://devcon2023.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/81fbcae9-7964-4d10-8c0f-979d8e3a0d7a/resourcegroups/DevCon2023/providers/Microsoft.ContainerRegistry/registries/DevCon2023</ContainerResourceId>
    <ContainerResourceName>DevCon2023</ContainerResourceName>
    <Subscription>Azure DevTest subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>devcon2023.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/81fbcae9-7964-4d10-8c0f-979d8e3a0d7a/resourceGroups/DevCon2023/providers/Microsoft.Web/sites/DevCon2023</ResourceId>
    <ResourceGroup>DevCon2023</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://devcon2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b2dcbe9b-9d24-4002-8dcf-7b607a2452e7</ProjectGuid>
  </PropertyGroup>
</Project>